p{
  display:flex;
}

:root{
  --fondo:rgba(18, 18, 18, 1);
  --tarjetas:rgba(30, 30, 30, 1);
  --textoprinc:rgba(224, 224, 224, 1);
  --botones:rgba(59, 130, 246, 1);
}

body{
  margin:0px;
  background-color:rgba(18, 18, 18, 1);
  display:flex;
  flex-direction:column;
}

.nombre{
  margin-bottom:20px;
  background-color:rgba(30, 30, 30, 1);
  color: aliceblue;
}
.descripcion{
  margin-bottom:30px;
  background-color:rgba(30, 30, 30, 1);
  color: aliceblue;
}

.gustos{
  background-color:rgba(30, 30, 30, 1);
  color: aliceblue;
  gap:15px;
}

.gustos img{
  width:150px;
  height:150px;
}
.gustos > #Ajedrez{
}
